.solar{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;

  .solar-hero__container{
    position: relative;
    height: 100%;

    .s-hero__text{
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .s-hero__header{
        display: flex;
        flex-direction: column;
        font-size: var(--h1-font-size);
        font-family: var(--second-font);
        align-items: center;
        
        
        .sh__overflow{
          overflow: hidden;

          p{
            text-align: center;
            color: white;
            white-space: nowrap;

            span{
              color: var(--first-color)
            }
          }
        }
      }

      .sh__desc{
        display: flex;
        flex-direction: column;
        font-size: var(--small-font-size);
        gap: 0.2rem;
        align-items: center;
        
        .sh__overflow{
          overflow: hidden;

          p{
            text-align: center;
            color: var(--grey);
            font-size: var(--small-font-size);
            font-weight: var(--font-light);
            white-space: nowrap;
          }
        }
      }

      .sh__cta{
        margin-top: 0.5rem;

        .sh__overflow{
          overflow: hidden;
        

          a{
            display: block;
            padding: 12px 20px;
            text-align: center;
            font-size: var(--small-font-size);
            background-color: white;
            color: black;
            border-radius: 50px;
            white-space: nowrap;
          }
        }
      }
    }

    .s-hero__image{
      width: 80%;
      aspect-ratio: 1/0.7;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: ;

      img{
        object-fit: cover;
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }
}