.solar__video {
  width: 100%;
  height: auto;
  padding-top: 4rem;

  .solar__video-container {
    .vvideo__container {
      width: 90%;
      height: auto;
      aspect-ratio: 2730/1440;
      display: block;
      margin: 0 auto;
      position: relative;

      .video-js {
        width: 100%;
        height: 100%;
      }

      .vvideo__cover{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        padding: 2rem 4rem;

        .vv-content{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          position: absolute;
          bottom: 5%;
        }
      }
    }
  }
}
