.solar{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;

  .solar-hero__container{
    position: relative;
    height: 100%;

    .s-hero__text{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);

      .s-hero__header{
        
      }
    }
  }
}