.solar__video {
  width: 100%;
  height: auto;
  padding-top: 4rem;

  .solar__video-container{

    .video-js{
      width: 90%;
      height: auto;
      aspect-ratio: 2730/1440;
      display: block;
      margin: 0 auto;
      position: relative;
    }

    .vvideo__cover{
      width: 90%;
      height: auto;
      aspect-ratio: 2730/1440;
      display: block;
      margin: 0 auto;
      background-color: rgba;
    }
  }
}
