.solar__services{
  width: 100%;
  padding: 4rem 0 0;

  .ss__container{
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    .ss__left{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .ss__overflow{
        overflow: hidden;

        h3{
          font-size: var(--h2-font-size);
          font-family: var(--second-font);

          span{
            color: var(--first-color)
          }
        }

        p{
          color: var(--text-color-light);
          font-size: var(--small-font-size);
          text-align: justify;
        }
      }
    }

    
  }
}