.solar{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;

  .solar-hero__container{
    position: relative;
    height: 100%;

    .s-hero__header{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: tr;
    }
  }
}