.vox__services{
  width: 100%;
  padding: 4rem 0;

  .v-services__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    .v-services__header{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .vs__overflow{
        overflow: hidden;
        
        div{
          font-size: var(--h1-font-size);
          font-family: var(--second-font);
          color: white;
          white-space: nowrap;

          span{
            color: var(--first-color)
          }
        }
      }
    }

    .v-services__content{
      width: 100%;
      height: 20rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;

      .vsd__overflow{
        overflow: hidden;
        height: 100%;

        .vs__card{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;

         .svg__image{
          width: 80px;
          height: 80px;
          p
         }

          h3{
            font-size: var(--small-font-size);
            font-weight: var(--font-medium);

          }

          p{
            font-size: var(--small-font-size);
            color: var(--text-color-light);
            text-align: justify;
          }
        }
      }
    }
  }
}