.hero{
  width: 100%;
  height: 100vh;
  

  .background__images{
    width: 100%;
    height: 100%;
    position: relative;
    filter: brightness(80%);

    img{
      object-fit: cover;
      object-position: 0 -200px;
    }
  }
  
}