.team__bottom{
  width: 100%;
  display: flex;
  flex-direction: column;


  .t-bottom__header{
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey);

    .team__bottom-header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      span{
        font-family: var(--second-font);
      }

      a{
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
        font-weight: var(--font-light);
        display: flex;
        gap: 0.3rem;
        align-items: center;

        svg{
          color: var(--text-color-light);
          transform: rotate(90deg);
          font-size: var(--small-font-size);
        }
      }
    }
  }

  .t-bottom__content{
    position: relative;
  }

  .mobile__content{
    display: none;
  }
}