.ourteam{
  width: 100%;
  padding: 5rem 0 0;

  .ourteam__container{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .team__top{
      width: 100%;
      
      .team__top-1{
        display: flex;
        gap: 2rem;
        align-items: flex-end;

        .team__overflow{
          overflow: hidden;

          .team__image-1{
            width: 300px;
            aspect-ratio: 1/0.85;
            position: relative;

            img{
              object-fit: cover;
            }
          }

          p{
            font-family: var(--second-font);
            font-size: calc(var(--h3-font-size) + 0.5rem);

            span{
              color: var(--first-color)
            }
          }
        }
      }
    }

    .team__top-2{
      width: 100%;
      
    }
  }
}