.vision{
  width: 100%;
  padding: 5rem 0 2rem;

  .vision__container{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .vision__image{
      width: 40%;
      height: 100%;
      position: relative;

      img{
        object-fit: cover;
      }
    }

    .vision__content{
      width: 60%;
      height: 100%;
      background-color: white;

      
    }
  }
}