.services__page{
  width: 100%;

  .p-services__header{
    width: 100%;
    height: 35rem;
    padding: 5rem 0 0;
    background: black;
    color: white;
    position: relative;

    .s-header__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: max-content;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .p__ser-overflow{
        overflow: hidden;

        .ps__header{
          font-size: calc(var(--h1-font-size) + 1.5rem);
          font-family: var(--second-font);

          span{
            color: var(--first-color)
          }
        }

        .ps__para{
          font-size: var(--small-font-size);
          color: var(--grey);
          margin-top: 1rem;
          width: 650px;
        }
      }
    }
  }

  .p-services__con{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    display: none;
  }
}

/*========= RESPONSIVE DESIGN ==========*/
@media screen and (max-width: 950px) {
  .services__page{
  
    .p-services__header{
      height: 35rem;
      padding: 5rem 0 0;

      .s-header__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: max-content;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
  
        .p__ser-overflow{
          overflow: hidden;
  
          .ps__header{
            font-size: calc(var(--h1-font-size) + 1.5rem);
            font-family: var(--second-font);
  
            span{
              color: var(--first-color)
            }
          }
  
          .ps__para{
            font-size: var(--small-font-size);
            color: var(--grey);
            margin-top: 1rem;
            width: 650px;
          }
        }
      }
    }
  
    .p-services__con{
      padding: 4rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      display: none;
    }
  }
}