.services__page{
  width: 100%;
  padding: 0 0 4rem;

  .p-services__header{
    width: 100%;
    height: 35rem;
    padding: 5rem 0 0;
    background: black;
    color: white;

    .s-header__container{

      .p__ser-overflow{
        overflow: hidden;

        p{}
      }
    }
  }
}