.p-services__card{
  width: 100%;
  aspect-ratio: 16/8;
  position: relative;

  .p-card__back{
    position: relative;
    width: 100%;
    height: 100%;

    img{
      object-fit: cover;
    }
  }

  .card__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .card__content{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 2rem;


    .content__overflow{
      overflow: hidden;

      h3{
        font-size: var(--h2-font-size);
        text-transform: uppercase;
        color: white;
        font-family: var(--second-font);
      }
    }

    .card__content-main{
      position: absolute;
    }
  }
}