.member__content{
  width: 100%;
  padding: 4rem 0;

  .m-content__container{
    
    .m-content__wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content__overflow{
        overflow: hidden;

        &:nth-of-type(1)
        .mc__image{
          position: relative;
          
          aspect-ratio: 1/1.5;
          display: block;

          img{
            object-fit: cover;
          }
        }
      }
    }
  }
}