.member__content{
  width: 100%;
  padding: 4rem 0;

  .m-content__container{
    display: flex;
    justify-content: center;
    align-items: center;

    .m-content__wrapper{
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content__overflow{
        overflow: hidden;

        &:nth-of-type(1){
          width: 35%;
        }

        &:nth-of-type(2){
          width: 50%;
        }

        .mc__image{
          position: relative;
          width: 100%;
          aspect-ratio: 1/1.5;
          display: block;
          border-radius: 30px;
          overflow: hidden;

          img{
            object-fit: cover;
          }
        }

        .m-content__text{
          color: var(--text-color-light);
          font
        }
      }
    }
  }
}