.member{
  width: 100%;
  height: 30rem;
  padding: 5rem 0 0;
  background-color: black;

  .member__container{
    
    .member__wrapper{
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .name__container{
        display: flex;
        align-items: center;
        gap: 3rem;

        .member__overflow{
          overflow: hidden;
          color: white;
          

          h3{
            font-size: calc(var(--h1-font-size) + 1.5rem);
            text-transform: uppercase;
            font-family: var(--second-font);
          }

          span{
            font-size: var(--small-font-size);
            text-transform: capitalize;
          }

          h4{
            font-family: var(--second-font);
            text-transform: capitalize;
            font-size: calc(var(--h1-font-size) + 1.5rem);

          }
        }
      }
    }
  }
}