.team__testimonial {
  width: 100%;
  height: auto;

  .ttest__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    svg{
      font-size: var(--h3-font-size);
    }

    .
  }
}
