.about__hero{
  width: 100%;
  height: 40rem;
  position: relative;

  .ahero__image{
    width: 100%;
    height: 100%;
    position: relative;
    
    img{
      object-fit: cover;
      object-position: 0% 20%;
    }
  }

  .ahero__overlay{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
  }

  .ahero__header{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ahero__overflow{
      overflow: hidden;

      h3{
        font-size: calc(var(--h1-font-size) + 1rem);
        font-family: var(--second-font);
        text-align: center;
        white-space: nowrap;
      }

    }
    
  }

}