.not__found{
  background-color: var(--first-color);
  width: 100%;
  height: 100vh;

  .not__found-container{
    position: relative;
    height: 100%;

    .not-found__overflow{
      overflow: hidden;

      h3{
        font-size: var(--h1-font-size);
        font-family: var(--second-font);
        color: white;
      }
    }
  }


}