.contact__hero{
  width: 100%;
  height: 150vh;

  .contact__image{
    width: 100%;
    height: 100%;
    position: relative;
    filter: brightness(80%);

    img{
      object-fit: cover;
    }
  }

  .chero__contact{
    
  }
}