.footer{
  width: 100%;
  background-color: black;
  color: white;

  .footer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}