.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 800;
  pointer-events: none;
  background: transparent;

  .loading__screen {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    will-change: top;
    background-color: var(--first-color);

    .home__active{
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;

      .preload__overflow{
        overflow: hidden;
        color: white;
        
        h3{
          font-size: var(--h2-font-size);
          font-family: var(--second-font);
        }

        p{
          font-size: var(--normal-font-size);
          font-weight: var(--font-normal);
          display: inline-block;
          gap: ;
        }
      }
    }
  }
}
