.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  z-index: 10;
  background-color: white;
  padding: 7rem 4rem;
  

  .sidebar__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .sidebar__content{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .sidebar__header{
        font-size: var(--smaller-font-size);
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--grey);
        color: var(--text-color-light)
      }

      .sidebar__links{
        display: flex;
        flex-direction: column;
        
        .s-link_wrap{
          
        }
        a{
          font-size: var(--h2-font-size);
          color: var(--text-color);
          padding: 15px 0;
          font-weight: var(--font-normal);
        }
      }
    }

    .sidebar__footer{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .sidebar__header{
        font-size: var(--smaller-font-size);
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--grey);
        color: var(--text-color-light)
      }

      .sidebar__socials{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
          font-size: var(--tiny-font-size);
          color: var(--text-color)
        }
      }
    }

    .s-burger__menu{
      position: absolute;
      top: 2rem;
      right: 4rem;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;

      span{
        width: 25px;
        height: 1px;
        background-color: black;
        cursor: pointer;

        &.s-top-burger{
          position: relative;
          top: -3px
        }

        &.s-bottom-burger{
          position: relative;
          bottom: -3px
        }
      }
    }
  }
}

.side__mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(255,255,255,0.4);
 
}


/*======= RESPONSIVE DESIGN ========*/
@media screen and (max-width: 950px){
  .sidebar{
    width: 50vw;
    padding: 7rem 4rem;
    
  
    .sidebar__container{
  
      .sidebar__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
  
        .sidebar__header{
          font-size: var(--smaller-font-size);
          padding-bottom: 0.5rem;
          border-bottom: 1px solid var(--grey);
          color: var(--text-color-light)
        }
  
        .sidebar__links{
          a{
            font-size: calc(var(--h2-font-size) + 0.2rem);
          }
        }
      }
    }
  }
  
  .side__mask{
    width: 50vw;
  }
}

@media screen and (max-width: 700px){
  .sidebar{
    width: 65vw;
    padding: 6rem 4rem;
  }

  .side__mask{
    width: 35vw;
  }
}

@media screen and (max-width: 500px){
  .sidebar{
    width: 100vw;
    padding: 5rem 4rem;
  
  }
  
  .side__mask{
    width: 0vw;
  }
}


