/*=============== VARIABLES SCSS ===============*/
:root {
  --header-height: 5rem;
  --first-color: rgb(61, 98, 230);
  --grey: hsl(0, 0%, 80%);
  --text-color: black;
  --text-color-light:rgb(63, 63, 63);
  --body-color: #f5f5f5;
  --body-color-2: #ffffff;



  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  // --body-font: 'Poppins', sans-serif;


  --biggest-font-size: 6rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 1.7rem;
  --h3-font-size: 1.35rem;
  --normal-font-size: 1rem;
  --small-font-size: .92rem;
  --smaller-font-size: .813rem;
  --tiny-font-size: 0.71rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 800;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* Transition */
  --transition: cubic-bezier(0.76, 0, 0.24, 1);

}

/* Responsive typography */
@media screen and (max-width: 1088px) {
  :root {
    --biggest-font-size: 4.1rem;
    --h1-font-size: 1.7rem;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: 0.97rem;
    --small-font-size: 0.84rem;
    --smaller-font-size: 0.78rem;
    --tiny-font-size: 0.65rem;
  }
}

@media screen and (max-width: 628px) {
  :root {
    --biggest-font-size: 3.0rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .92rem;
    --small-font-size: .813rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.60rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }

}


html {
  scroll-behavior: auto;
  height: auto;
}

body,
button,
input,
textarea,
select {
  font-family: var(--poppins-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-light);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.special-container{
  max-width: 1600px;
  margin: 0 auto;
}


.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4rem 0 0rem;
}


@media screen and (max-width: 1280px) {
  .container {
    max-width: 100%;
    margin: 0 3rem;
  }
}

@media screen and (max-width: 769px) {
  .container {
    max-width: 100%;
    margin: 0 2rem;
  }
}

@media screen and (max-width: 580px) {
  .container {
    max-width: 100%;
    margin: 0 1rem;
  }
}